{% extends 'list.html.twig' %}

{% block before %}
<form method="post" action="/peliculas" class="search-form">
    <input type="text" name="q" placeholder="Buscar pelicula" value="{{ app.request.get('q')|default('') }}">
    <button class="button comment-button" type="submit">Buscar</button>
</form>
{% endblock %}

{% block list_section %}
    <div class="list-row list-header">
        <span class="list-cell">Id</span>
        <span class="list-cell">Nombre</span>
        <span class="list-cell">Género</span>
        <span class="list-cell">Dirección</span>
        <span class="list-cell">Actores</span>
    </div>
    <section id="film-menu">
        <ul class="list">
            {% for film in films%}
                <li class="list-row">
                    <span class="list-cell">{{film.id}}</span>
                    <span class="list-cell"><a href="/pelicula/{{film.id}}">{{film.name}}</a></span>
                    <span class="list-cell">{{film.genre}}</span>
                    <span class="list-cell">{{film.directors}}</span>
                    <span class="list-cell">{{film.actors}}</span>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
