{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{css_path}}/pelicula.css"> 
    {% if css_print is not null %}
        <link rel="stylesheet" href="{{css_path}}/{{css_print}}"> 
    {% endif %}
    <script src="{{js_path}}/comments.js" defer></script>
{% endblock %}


{% block content %}
    {{ parent() }}
    <main> 
        <section class="flex-row">

            <section class="main-content">
                <!-- Este logo no se muestra, es especial para la versión de impresión -->
                <div class="logo-imprimir">
                    <img class="logo" src="data:image/*;base64,{{ shared_images['logo'] }}" title="Logo" alt="Logo de la página">
                </div>
                
                <!-- Bloque para las imagenes -->
                <ul class="film-image-blocks">
                    {% for image in images %}
                        <li class="image-block"><img class="film-image" src="data:image/*;base64,{{image.content}}" alt="foto película">
                            <p class="image-footer">
                            {% if image.name is not null %}
                                {{image.name}}
                            {% else %}
                                Portada
                            {% endif %}
                            </p></li>
                    {% endfor %}
                </ul>
                
                <div class="information-block">

                    <!-- Botón para mostrar el menú de comentarios -->
                    <button class="button" id="comment-button" onclick="showMenu()">
                        <img id="comment-img" src="data:image/*;base64,{{ shared_images['dialogue_box'] }}" title="menu" , alt="comments menu">
                    </button>
                    
                    <div class="information">
                        <h2>{{film.name}}</h2> <!-- Título de la película -->

                        <h3>{{film.year}}</h3> <!--Año de salida de la película -->

                        <p> -Género: {{film.genre}} <br> <!--Atributos de la película-->
                            -Dirección: {{film.directors}} <br>
                            -Actores: {{film.actors}} <br></p> 
                    </div>
                </div>
                

                <!-- Descripción de la pelicula -->
                <h3 id="description-title">Descripción de la película: </h3>
                <p class="sipnosis">{{film.description}}</p>
                
            </section>

            <!-- Bloque para el menú de comentarios, se le pasa aqui como data-* el json de las palabras prohibidas con un filtro -->
            <aside id="comment-menu" class="unactive-menu" data-prohibitedWords="{{prohibited_words|e('html_attr')}}">
                <h2 class="title" id="comments-title">Comentarios</h2> 
                <ul id="comment-list">
                    {% for comment in comments %}
                        <li class="comment">
                            <p class="comment-label">Autor: {{comment.name}}  /  {{comment.email}}</p>
                            <p class="comment-label">Fecha: {{comment.date}}</p> 
                            <p class="comment-text">{{comment.text}}</p> 
                        </li>
                    {% endfor %}
                </ul>

                <form id="comment-form"  method='POST' action='{{base_path}}/p_comment_form.php?id={{film.id}}' >
                    <label for="fname">Nombre:</label>
                        <input type="text" id="fname" name="fname" size="25" required><br>
                    <label for="femail">E-mail:</label>
                        <input type="text" id="femail" name="femail" size="25" required><br>
                    <label for="fcontent">Contenido:</label>
                        <textarea style="resize: none;" id="fcontent" name="fcontent" rows="5" cols="40" required></textarea>
                    
                    <p id="error-message"></p>

                    <input type="submit" value="Submit">
                </form>
            </aside>

        </section>   <!-- Termina sección con pelicula y comentarios -->   


        <!-- Bloque con botones e imagenes con link -->
        <div class="film-footer">
            <div><a href="https://www.instagram.com/"> <img class="logo-red-main" src="data:image/*;base64,{{ shared_images['instagram'] }}" alt="instagram"></a></div>
            <div><a href="https://x.com/home"> <img class="logo-red-main" src="data:image/*;base64,{{ shared_images['twitter'] }}" alt="twitter"></a>    </div>
                
            <a class="button" href="?id={{film.id}}&print=1">Imprimir</a>
        </div>
        
    </main>
{% endblock %}
