{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{css_path}}/portada.css">
{% endblock %}

{% block content %}
    {{ parent() }}
    <main> 
        <ul class="film-list">
            {% if user.role == "manager" or user.role == "superuser"%}
                <li id="add-button-container" class ="film"><a  id="add-button" class="button" href="/pelicula/insert">+</a></li>
            {% endif %}
            {% for film in films %}
                <li class="film"><a href="/pelicula/{{film.id}}"> <img class="cover" src="data:image/*;base64,{{film.cover}}" alt="pelicula">
                                                            <p class="film-name">{{film.name}}</p></a></li>
            {% endfor %}
        </ul>
    </main>        
{% endblock %}